.searchBar {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0;
  left: 0;
}

.searchBar > input[type="text"] {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;
  width: 50%;
  outline: none;
  border-radius: 0;
  font-weight: 300;
  font-size: 1.1vmax;
  font-family: cursive;
  box-sizing: border-box;
  height: 8%;
}

.searchBar > input[type="submit"]{
    height: 8%;
    border-radius: 0;
    background-color: tomato;
    border: none;
    padding: 1vmax;
    width: 10%;
    font-weight: 300;
    font-family: "Roboto";
    font-size: 1.1vmax;
    cursor: pointer;
    color:white;
    transition: all 0.5s;
}

.searchBar > input[type="submit"]:hover{
    background-color: #7db9b6;
}